server:
  port: 8081
spring:
  application:
    name: blog-user-service
  profiles:
    active: local  # 激活的配置文件
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # 新版加载方式：直接通过 import 导入
  config:
    import:
      # 1. 导入自身服务的配置 (blog-user-service-dev.yaml)
#      - optional:nacos:${spring.application.name}-${spring.profiles.active}.yaml
      # 2. 导入公共配置 (shared-xxx.yaml)
      - optional:nacos:shared-jdbc.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-log.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-swagger.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-redis.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-mybatis-plus.yaml?group=DEFAULT_GROUP&refresh=true
  cloud:
    nacos:
      config:
        server-addr: 127.0.0.1:8848
        namespace: public
        file-extension: yaml
        group: DEFAULT_GROUP
        refresh: true
        username: nacos  # 默认用户名
        password: 766498  # 默认密码
        # 其他配置...
      discovery:
        username: nacos
        password: 766498
      server-addr: 127.0.0.1:8848
      username: nacos
      password: 766498
api:
  info:
    title: 云坛博客用户服务API
    description: "云坛博客用户服务API接口文档"
    version: v1.0.0
    contact-name: 苜玥
    contact-email: 2929028544@qq.com
    contact-url: https://www.yuntan.com
  packages-to-scan:
    front: com.yuntan.user.controller.front
    admin: com.yuntan.user.controller.admin
# JWT认证配置（极简版：仅登录认证，无角色鉴权）
yuntan:
  jwt:
    location: classpath:yuntan.jks       # JKS密钥文件路径
    alias: yuntan                        # JKS密钥库别名
    password: 766498                     # 改为你指定的密码 766498
    token-ttl: 10800000                  # 令牌有效期（3小时）
    refresh-ttl: 604800000               # 刷新令牌有效期（7天）
    issuer: yuntan-blog                  # JWT签发者
    subject: blog-user-service           # JWT主题
    header: Authorization                # JWT请求头名称
    prefix: Bearer                       # JWT令牌前缀


