server:
  port: 8082
spring:
  application:
    name: blog-article-service
  profiles:
    active: local  # 激活的配置文件
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # 新版加载方式：直接通过 import 导入
  config:
    import:
      # 1. 导入自身服务的配置 (blog-user-service-dev.yaml)
#      - optional:nacos:${spring.application.name}-${spring.profiles.active}.yaml
      # 2. 导入公共配置 (shared-xxx.yaml)
      - optional:nacos:shared-jdbc.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-log.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-swagger.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-redis.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-mybatis-plus.yaml?group=DEFAULT_GROUP&refresh=true
      - optional:nacos:shared-oss.yaml?group=DEFAULT_GROUP&refresh=true
  cloud:
    nacos:
      config:
        server-addr: nacos:8848
        namespace: public
        file-extension: yaml
        group: DEFAULT_GROUP
        refresh: true
        username: nacos  # 默认用户名
        password: 766498  # 默认密码
        # 其他配置...
      discovery:
        username: nacos
        password: 766498
      server-addr: nacos:8848
      username: nacos
      password: 766498
api:
  info:
    title: 云坛博客文章服务API
    description: "云坛博客文章服务API接口文档"
    version: v1.0.0
    contact-name: 苜玥
    contact-email: 2929028544@qq.com
    contact-url: https://www.yuntan.com
  packages-to-scan:
    front: com.yuntan.article.controller.front
    admin: com.yuntan.article.controller.admin


